<html>
  <head>
    <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.freshdev.io/fdk/2.0/assets/freshdesk.css"
    />
    <script
      type="module"
      src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/@freshworks/crayons/dist/crayons/crayons.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="../styles/modal.css" />
  </head>
  <body>
    <div>
      <!-- <h4>Attachments</h4> -->
      <!-- <fw-datepicker
        mode="range"
        min-date="10-05-2020"
        max-date="10-07-2020"
        from-date="12-05-2020"
        to-date="14-05-2020"
      ></fw-datepicker> -->
      <div class="card"></div>
    </div>
    <script src="../scripts/modal.js"></script>
  </body>
</html>
